<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bdt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bdt">
        <activity
            android:name=".activity_catalogo"
            android:exported="true" />
        <activity
            android:name=".activity_crearServicio"
            android:exported="true" />
        <activity
            android:name=".completarConfirmacion"
            android:exported="true" />

        <activity
            android:name=".FaceScan"
            android:exported="true" />
        <activity
            android:name=".ImagePicker"
            android:exported="true" />
        <activity
            android:name=".Archivos"
            android:exported="true" />
        <activity
            android:name=".home2"
            android:exported="true" />
        <activity
            android:name=".scan"
            android:exported="true" />
        <activity
            android:name=".sellings"
            android:exported="true" />
        <activity
            android:name=".shoppingCart"
            android:exported="true" />
        <activity
            android:name=".checkoutFail"
            android:exported="true" />
        <activity
            android:name=".Checkout"
            android:exported="true" />
        <activity
            android:name=".Myprofile"
            android:exported="true" />
        <activity
            android:name=".balance"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".preLogin"
            android:exported="true" />
        <activity
            android:name=".Registro"
            android:exported="true" />
        <activity
            android:name=".QR"
            android:exported="true" />
        <activity
            android:name=".ConfirmedOrder"
            android:exported="true" />
        <activity
            android:name=".Filtros"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bdt.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>